* {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}


header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 495px;
    height: 50px;
    background-color: #ebebeb;
    border: 3px;
    border-color: black;
    color: #777;
    padding: 20px;
    margin: auto;
}

.nav {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 495px;
    height: 50px;
    background-color: #ebebeb;
    border: 3px;
    border-color: black;
    color: #777;
    padding: 20px;
    margin: auto;
    margin-top: 5px;
}

.section {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 295px;
    height: 200px;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    margin-left: 233px;
    margin-right: 12px;
    margin-top: 12px;
}

#article {
    background-color: #777;
    color: #ebebeb;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 20px;
    position: absolute;
    width: 275px;
    height: 125px;
    text-align: vertical;
    padding: 10px;
}

#hs {
    color: #777;
    background-color: #ebebeb;
    height: 30px;
    width: 245px; 
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    margin-top: 15px;

}

#p {
    color: #777;
    background-color: #ebebeb;
    height: 30px;
    width: 245px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    margin-top: 5px;
}


.aside {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 190px;
    height: 200px;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    margin-left: auto;
    margin-right: 233px;
    margin-top: 12px;
    float: right;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 495px;
    height: 50px;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    margin: auto;
    margin-top: 12px;
}